# Global
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.*
!.gitignore
*~

# Delphi
*.dcu
*.~*~
*.local
*.identcache
__history
*.drc
*.map
*.dll
bin/*

# C++
*.slo
*.lo
*.o
*.so
*.dylib
*.lai
*.la
*.a

# Python
*.py[cod]
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Visual Studio
*.suo
*.user
*.sln.docstates
[Dd]ebug*/
[Rr]elease/
build/
[Tt]est[Rr]esult
[Bb]uild[Ll]og.*
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.psess
*.vsp

# Sublime Text 2
*.sublime-project
*.sublime-workspace
